body * {
    box-sizing: content-box;
}

a:hover {
    text-decoration: none;
}

.github-ribbon {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
}

.container-narrow {
    margin: 0px auto;
    max-width: 960px;
}

.jumbotron {
    margin: 60px 0;
    text-align: center;
    position: relative;
}

.jumbotron .form-control {
    width: 75%;
    margin: auto;
}

#feedback {
    opacity: 0;
    margin-top: 20px;
    transition: all 150ms linear;
    position: absolute;
    top: -100px;
    left: 50%;
}

#feedback .text {
    position: relative;
    left: -50%;
}

#feedback.visible {
    opacity: 1;
    top: 0;
}

#result {
    visibility: hidden;
    margin-top: 1em;
}

#result.visible {
    visibility: visible;
}

footer {
    text-align: center;
}

